@import 'tailwindcss';
@import '@fontsource/roboto';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto/400-italic.css';
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(15, 23, 42);
  background: rgb(15, 23, 42);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
